/********************************************

partner theme for
Orkney College UHI

changes to this stylesheet should be mirrored across all partners


Block colour: #005a65
10% colour:   #e5eeef
**************************************/

/**********************
colours common to all partners
**********************/

.footer,
.footer p a {
  color: #fff;
}

.footer p a {
  border-bottom: 1px solid #fff;
}

/* course page tabs */
.section.coursedetails .tabnav li h2 a {
  color: #000;
}

/**********************
Block colours
**********************/

#visual-portal-wrapper h1,
#visual-portal-wrapper h2,
#visual-portal-wrapper h3,
#visual-portal-wrapper h4,
#visual-portal-wrapper h5,
#visual-portal-wrapper h6,
.content h1,
.content-type-modifier--collapsible__heading,
.courselist--filter-sets > ul > li a,
.courselist--filter-sets h2,
.header.banner .nav.primary ul li a,
.header.banner .nav.primary ul li.active a,
.navigation--contextual li a:hover,
.section.coursefinder .prospectus strong:hover,
.studying a,
.studying a:visited,
.studying h3,
.studying h5,
.UHI--button-link--reverse a,
.UHI--button-link--reverse a:visited,
.UHI--button-link--reverse,
a,
a:active,
a:visited {
  color: #005a65;
}

.content-type--landing-rss-feed__heading,
.content-type--one-web-text-banner,
.courselist--filter-sets .accordion > li,
.courselist--filter-sets .accordion > li:nth-child(even),
.fb-search .badge,
.fb-search .panel-heading,
.footer ul.nav li a:hover,
.footer,
.header.banner .tools li.alumni a,
.header.banner .tools li.language a,
.header.banner .tools li.staff a,
.header.banner .tools li.students a,
.lang-button,
.navigation--contextual h2,
.navigation--contextual h2 a,
.section.connections .ctas ul li a:hover,
.section.coursedetails .tabnav li.ui-tabs-active h2 a,
.section.coursedetails,
.section.courselist .col.onequarter .extra ul li,
.section.courselist .col.onequarter > ul > li,
.section.courselist .col.onequarter.news > ul > li:first-child:hover,
.section.ctas .section.apply a:hover,
.section.ctas .section.tour .ctas ul li a:hover,
.section.intro h1,
.section.intro p,
.tt-menu .tt-cursor,
.tt-menu .tt-suggestion:hover,
.UHI--button-link--main {
  background-color: #005a65;
}

.section.courselist .col.onequarter.news > ul > li:first-child {
  background: #005a65 none repeat scroll 0 0;
}

.section.specialistsubjects,
.section.testimonials {
  background: #005a65 url(<t4 type= "media" formatter= "image/path" id= "5576" />) center bottom no-repeat;
}

.UHI--button-link--reverse {
  border-color: #005a65;
}

.header.banner .nav.primary ul li a,
.header.banner .nav.primary ul li.active a {
  border-bottom-color: #005a65;
  border-top-color: #005a65;
}

.content-type--landing-content-boxes__box:hover {
  box-shadow: 5px 5px 11px #005a65;
}

.header.banner .tools li.students a,
.header.banner .tools li.staff a,
.header.banner .tools li.alumni a,
.header.banner .tools li.language a,
.lang-button {
  box-shadow: 0 0 0 1px #005a65;
}

/**********************
10% colours
**********************/

.UHI--button-link--main,
a.t4Edit-page,
a.t4Edit-page:visited,
a.t4Edit-page:active {
  color: #e5eeef;
}

.content-type--landing-rss-feed__line,
.content-type--one-web-event__data,
.content-type-modifier--collapsible__heading,
.content-type-modifier--shading,
.content-type--one-web-news-listing__article:nth-child(odd),
.newslisting:nth-child(odd),
.section.coursedetails .tabnav li h2 a,
.section.coursefinder,
.studying,
.UHI--button-link--reverse,
.UHI--paragraph-highlight {
  background-color: #e5eeef;
}

.courses .section.coursefinder.coursepage {
  background: #e5eeef none repeat scroll 0 0 !important;
}

.content-type-modifier--typography blockquote {
  border-color: #e5eeef;
}

/**********************
header logo image and size
native 74px x 312px
**********************/

.header.banner .logo a {
  background-image: url(<t4 type= "media" formatter= "image/path" id= "205145" />);
  height: 57px;
  width: 241px;
}

@media only screen and (min-width: 768px) {
  .header.banner .logo a {
    height: 74px;
    width: 312px;
  }
}

/* News item image colour changes */

.content-type--one-web-news__image {
  background: #e5eeef;
}

.content-type--one-web-news__image figcaption {
  background: #e5eeef;
}

/* Right content colour changes */

@media (min-width: 1024px) {
  .content-type-modifier--shading {
    background-color: #e5eeef;
  }
  
  .content-type-modifier--shading-image {
    background-color: #e5eeef;
  }
  
  .content-type-modifier--shading-image figcaption {
    background: #e5eeef;
  }
}

/* Message us colour changes */

.bottommessage, .zoom {
  background: #007E8F;
}

@media (min-width: 768px) {
  .zoom p {
    background-color: #007E8F;
  }
  
  .zoom p::after {
    border-top: 20px solid #007E8F;
  }
  
  .minimise {
    background-color: #007E8F;
    border: 3px solid #005a65;
  }
  
  .minimise:hover {
    background-color: #005a65;
  }
  
  .smlscrmsg {
    background-color: #007E8F;
  }
  
  .zoom {
    background: none;
  }
  
  .zoom img {
    background: #005a65;
  }
}

/* Course page sticky nav colour changer */

.section.coursedetails .tabnav {
  background: #005a65;
}

@media (min-width: 768px) {
  .section.coursedetails .tabnav {
    background: none;
  }
}

/* Hero image and text over image colour changes */

.content-type--landing-4-hero .lower p a {
  color:#005a65;
}

.content-type--landing-4-textoverimage-right .textoverlay p.textovercta a, .content-type--landing-4-textoverimage-left .textoverlay p.textovercta a {
  background:#005a65;
}
