/********************************************

partner theme for
NAFC UHI

changes to this stylesheet should be mirrored across all partners


Block colour: #00496a
10% colour:   #e5ecf0
**************************************/

/**********************
colours common to all partners
**********************/

.footer,
.footer p a {
  color: #fff;
}

.footer p a {
  border-bottom: 1px solid #fff;
}

/* course page tabs */
.section.coursedetails .tabnav li h2 a {
  color: #000;
}

/**********************
Block colours
**********************/

#visual-portal-wrapper h1,
#visual-portal-wrapper h2,
#visual-portal-wrapper h3,
#visual-portal-wrapper h4,
#visual-portal-wrapper h5,
#visual-portal-wrapper h6,
.content h1,
.content-type-modifier--collapsible__heading,
.header.banner .nav.primary ul li a,
.header.banner .nav.primary ul li.active a,
.section.coursefinder .prospectus strong:hover,
.section.courselist .col.onequarter > ul > li a,
.section.courselist .col.onequarter h2,
.studying a,
.studying a:visited,
.studying h3,
.studying h5,
.UHI--button-link--reverse,
.UHI--button-link--reverse a,
.UHI--button-link--reverse a:visited,
a,
a:active,
a:visited {
  color: #00496a;
}

#coursefilter li.open:nth-child(even),
.content-type--landing-link-list__heading,
.content-type--one-web-text-banner,
.fb-search .badge,
.fb-search .panel-heading,
.footer,
.footer ul.nav li a:hover,
.header.banner .tools li.alumni a,
.header.banner .tools li.language a,
.header.banner .tools li.staff a,
.header.banner .tools li.students a,
.section.connections .ctas ul li a:hover,
.section.coursedetails,
.section.coursedetails .tabnav li.ui-tabs-active h2 a,
.section.courselist .col.onequarter .extra ul li,
.section.courselist .col.onequarter > form > ul > li,
.section.courselist .col.onequarter > ul > li ul li.active a,
.section.courselist .col.onequarter > ul > li:first-child,
.section.courselist .col.onequarter > ul > li:nth-child(odd) ul li.active a,
.section.courselist .col.onequarter.news > ul > li:first-child:hover,
.section.ctas .section.apply a:hover,
.section.ctas .section.tour .ctas ul li a:hover,
.section.intro h1,
.section.intro p,
.tt-menu .tt-suggestion:hover,
.tt-menu .tt-cursor,
.UHI--button-link--main {
  background-color: #00496a;
}

.section.courselist .col.onequarter.news > ul > li:first-child {
  background: #00496a none repeat scroll 0 0;
}

.section.specialistsubjects,
.section.testimonials {
  background: #00496a url(<t4 type= "media" formatter= "image/path" id= "5576" />) center bottom no-repeat;
}

.UHI--button-link--reverse {
  border-color: #00496a;
}

.header.banner .nav.primary ul li a,
.header.banner .nav.primary ul li.active a {
  border-bottom-color: #00496a;
  border-top-color: #00496a;
}

.content-type--landing-content-boxes__box:hover {
  box-shadow: 5px 5px 11px #00496a;
}

.header.banner .tools li.students a,
.header.banner .tools li.staff a,
.header.banner .tools li.alumni a,
.header.banner .tools li.language a {
  box-shadow: 0 0 0 1px #00496a;
}

/**********************
10% colours
**********************/

.UHI--button-link--main,
a.t4Edit-page,
a.t4Edit-page:visited,
a.t4Edit-page:active {
  color: #e5ecf0;
}

.content-type--landing-rss-feed__line,
.content-type--one-web-event__data,
.content-type-modifier--collapsible__heading,
.content-type-modifier--shading,
.content-type--one-web-news-listing__article:nth-child(odd),
.newslisting:nth-child(odd),
.section.coursedetails .tabnav li h2 a,
.section.coursefinder,
.studying,
.UHI--button-link--reverse,
.UHI--paragraph-highlight {
  background-color: #e5ecf0;
}

.courses .section.coursefinder.coursepage {
  background: #e5ecf0 none repeat scroll 0 0 !important;
}

.content-type-modifier--typography blockquote {
  border-color: #e5ecf0;
}

/**********************
header logo image and size
native 92px x 300px
**********************/

.header.banner .logo a {
  background-image: url(<t4 type= "media" formatter= "image/path" id= "176979" />);
  height: 57px;
  width: 187px;
}

@media only screen and (min-width: 768px) {
  .header.banner .logo a {
    height: 89px;
    width: 290px;
  }
}

@media only screen and (min-width: 1340px) {
  .header.banner .logo a {
    height: 92px;
    width: 300px;
  }
}

/***************************************************
rules not in other partner-specific stylesheets
***************************************************/

/* Discovery Zone map and list */

#content-core .discovery-zone-map-list a {
  font-weight: normal;
}

#content-core .discovery-zone-map-list a:hover {
  text-decoration: none;
}

.discovery-zone-map-container {
  width: 750px;
  height: 900px;
  float: right;
}

.discovery-zone-map-list {
  float: left;
  list-style-type: none;
  margin-right: 2em;
}

.discovery-zone-map-list li {
  border-top: 1px dotted gray;
  padding: 5px;
}

.discovery-zone-map-list li:hover {
  background-color: #00496a;
}

.discovery-zone-map-list li:hover a {
  color: #fff;
}

/*
course list
https://www.nafc.uhi.ac.uk/courses/
*/

.nafc--course-list h2 {
  margin: 50px 0px 5px 25px;
}

.nafc--course-list ul {
  margin: 0;
  padding: 0;
}

.nafc--course-list ul li {
  font-size: 1.25rem;
  list-style-type: none;
  border-bottom: 2px dotted #ccc;
  padding: 5px 5px 5px 25px;
}

.nafc--course-list ul li:hover {
  background-color: #e5ecf0;
}