/********************************************

partner theme for
Moray College UHI

changes to this stylesheet should be mirrored across all partners


Block colour: #4e4c6e
10% colour:   #ededf0
**************************************/

/**********************
colours common to all partners
**********************/

.footer,
.footer p a {
  color: #fff;
}

.footer p a {
  border-bottom: 1px solid #fff;
}

/* course page tabs */
.section.coursedetails .tabnav li h2 a {
  color: #000;
}

/**********************
Block colours
**********************/

#visual-portal-wrapper h1,
#visual-portal-wrapper h2,
#visual-portal-wrapper h3,
#visual-portal-wrapper h4,
#visual-portal-wrapper h5,
#visual-portal-wrapper h6,
.content h1,
.content-type-modifier--collapsible__heading,
.courselist--filter-sets > ul > li a,
.courselist--filter-sets h2,
.header.banner .nav.primary ul li a,
.header.banner .nav.primary ul li.active a,
.navigation--contextual li a:hover,
.section.coursefinder .prospectus strong:hover,
.studying a,
.studying a:visited,
.studying h3,
.studying h5,
.UHI--button-link--reverse a,
.UHI--button-link--reverse a:visited,
.UHI--button-link--reverse,
a,
a:active,
a:visited {
  color: #4e4c6e;
}

.content-type--landing-rss-feed__heading,
.content-type--one-web-text-banner,
.courselist--filter-sets .accordion > li,
.courselist--filter-sets .accordion > li:nth-child(even),
.fb-search .badge,
.fb-search .panel-heading,
.footer ul.nav li a:hover,
.footer,
.header.banner .tools li.alumni a,
.header.banner .tools li.language a,
.header.banner .tools li.staff a,
.header.banner .tools li.students a,
.lang-button,
.navigation--contextual h2,
.navigation--contextual h2 a,
.section.connections .ctas ul li a:hover,
.section.coursedetails .tabnav li.ui-tabs-active h2 a,
.section.coursedetails,
.section.courselist .col.onequarter .extra ul li,
.section.courselist .col.onequarter > ul > li,
.section.courselist .col.onequarter.news > ul > li:first-child:hover,
.section.ctas .section.apply a:hover,
.section.ctas .section.tour .ctas ul li a:hover,
.section.intro h1,
.section.intro p,
.tt-menu .tt-cursor,
.tt-menu .tt-suggestion:hover,
.UHI--button-link--main {
  background-color: #4e4c6e;
}

.section.courselist .col.onequarter.news > ul > li:first-child {
  background: #4e4c6e none repeat scroll 0 0;
}

.section.specialistsubjects,
.section.testimonials {
  background: #4e4c6e url(<t4 type= "media" formatter= "image/path" id= "5576" />) center bottom no-repeat;
}

.UHI--button-link--reverse {
  border-color: #4e4c6e;
}

.header.banner .nav.primary ul li a,
.header.banner .nav.primary ul li.active a {
  border-bottom-color: #4e4c6e;
  border-top-color: #4e4c6e;
}

.content-type--landing-content-boxes__box:hover {
  box-shadow: 5px 5px 11px #4e4c6e;
}

.header.banner .tools li.students a,
.header.banner .tools li.staff a,
.header.banner .tools li.alumni a,
.header.banner .tools li.language a,
.lang-button {
  box-shadow: 0 0 0 1px #4e4c6e;
}

/**********************
10% colours
**********************/

.UHI--button-link--main,
a.t4Edit-page,
a.t4Edit-page:visited,
a.t4Edit-page:active {
  color: #ededf0;
}

.content-type--landing-rss-feed__line,
.content-type--one-web-event__data,
.content-type-modifier--collapsible__heading,
.content-type-modifier--shading,
.content-type--one-web-news-listing__article:nth-child(odd),
.newslisting:nth-child(odd),
.section.coursedetails .tabnav li h2 a,
.section.coursefinder,
.studying,
.UHI--button-link--reverse,
.UHI--paragraph-highlight {
  background-color: #ededf0;
}

.courses .section.coursefinder.coursepage {
  background: #ededf0 none repeat scroll 0 0 !important;
}

.content-type-modifier--typography blockquote {
  border-color: #ededf0;
}

/**********************
header logo image and size
native 62px x 400px
**********************/

.header.banner .logo a {
  background-image: url(<t4 type= "media" formatter= "image/path" id= "243871" />);
  height: 50px;
  width: 320px;
}

@media only screen and (min-width: 1340px) {
  .header.banner .logo a {
    height: 56px;
    width: 360px;
  }
}

/* News item image colour changes */

.content-type--one-web-news__image {
  background: #ededf0;
}

.content-type--one-web-news__image figcaption {
  background: #ededf0;
}

/* Right content colour changes */

@media (min-width: 1024px) {
  .content-type-modifier--shading {
    background-color: #ededf0;
  }
  
  .content-type-modifier--shading-image {
    background-color: #ededf0;
  }
  
  .content-type-modifier--shading-image figcaption {
    background: #ededf0;
  }
}

@media (max-width: 1024px) {
  .right-content-flex {
    background-color: #ededf0;
  }
}

/* Message us colour changes */

@media (min-width: 768px) {
  .zoom p {
    background-color: #6E6E96;
  }
  
  .zoom p::after {
    border-top: 20px solid #6E6E96;
  }
  
  .minimise {
    background-color: #6E6E96;
    border: 3px solid #4e4c6e;
  }
  
  .minimise:hover {
    background-color: #4e4c6e;
  }
  
  .smlscrmsg {
    background-color: #6E6E96;
  }
  
  .zoom {
    background: none !important;
  }
}

.bottommessage, .zoom {
  background: #6E6E96;
}
